<% provide(:title, "About") %>

<h1>About</h1>
<div class="container-fluid col-md-6 col-md-offset-3">
  <div class="well">
    <p>
      This website was built as part of the Rails course of 
      <a href="http://www.theodinproject.com/">The Odin Project</a>.  Members 
      of the website can create public posts, any only other members can learn 
      the identity of the posts' author.  It's like a secret clubhouse where 
      one can post anonymous messages to the general public.
    </p>
  </div>
</div>