@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins & variables */

$brown-lt: #FFEBDF;
$brown-dk: #B28E79;
$blue-dk: #8AB2B2;
$blue-lt: #DFFFFF;
$gray-lt: #F9FFFF;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $brown-lt;
  margin-bottom: 40px;
}

.well {
  background-color: $gray-lt;
}

.posts {
  margin-bottom: 40px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
  margin-top: 15px;

  #logo {
    font-weight: bold;
    text-transform: uppercase;
    color: $blue-dk;
    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar {
  background-color: $gray-lt;
  border: 0;
}

.nav {
  list-style: none;
  float: right;
  li {
    line-height: 30px;
    float: left;
    a {
      color: $blue-dk;
    }
  }
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: $gray-lt;
  border-top: 1px solid $brown-dk;
  p {
    line-height: 1;
    padding-top: 10px;
  }
}

/* Forms */
input, textarea, select {
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 20px 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Posts */
.post-body {
  padding-bottom: 5px;
  border-bottom: 1px solid $brown-dk;
}

/* Misc. */

#post-button {
  margin-top: -5px;
  margin-bottom: 10px;
}

.alert {
  margin-top: -10px;
  margin-bottom: -10px;
}